<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- partial:partials/_footer.html -->
<footer th:fragment="footer" class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-center text-sm-left d-block d-sm-inline-block">FPT-Polytechnic © <a href="https://caodang.fpt.edu.vn" target="_blank">caodang.fpt.edu.vn</a> 2020</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Facebook: <a href="https://www.facebook.com/DangDinhVu221/" target="_blank">ĐẶNG ĐÌNH VŨ - PH14036 </a>facebook.com/DangDinhVu221</span>
    </div>
</footer>
<!-- partial -->
</body>
</html>