<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashAdmin/layouts/indexAdmin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="card-body container bg-white">
    <h2 class="card-title bg-info text-white text-center p-3">Create EarPhone</h2>

    <form th:action="${BASEURL + CREATE}" class="row"  method="post" enctype="multipart/form-data">
        <div class="form-group col-6">
            <label for="exampleInputName1">Name:</label>
            <input name="name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputEmail3">Title:</label>
            <input name="title" type="text" class="form-control" id="exampleInputEmail3" placeholder="Title">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword7">Warranty:</label>
            <input name="warranty" type="text" class="form-control" id="exampleInputPassword7"
                   placeholder="Warranty">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword5">Frequency:</label>
            <input name="frequency" type="text" class="form-control" id="exampleInputPassword5"
                   placeholder="Frequency">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword8">Color:</label>
            <input name="color" type="text" class="form-control" id="exampleInputPassword8"
                   placeholder="Color">
        </div>

        <div class="form-group col-6">
            <label for="exampleInputPassword4">Impedance:</label>
            <input name="impedance" type="text" class="form-control" id="exampleInputPassword4"
                   placeholder="Impedance">
        </div>
        <div class="form-group col-12">
            <label for="exampleSelectGender">Manufacturers:</label>
            <select name="manufacturers" class="form-control" id="exampleSelectGender">
                <option
                        th:each="item: ${listManufacturer}"
                        th:text="${item.nameManufacturer}" th:value="${item.id}"
                >
                </option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="exampleSelectGender">TypeEarPhone:</label>
            <select name="typeEarPhone" class="form-control" id="exampleSelectGender">
                <option th:value="${'BLUETOOTH'}">BLUETOOTH</option>
                <option th:value="${'WIRED_HEADPHONE'}">WIRED_HEADPHONE</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="exampleSelectRole">TypeCondition:</label>
            <select name="typeCondition" class="form-control" id="exampleSelectRole">
                <option th:value="${'NEW'}">NEW</option>
                <option th:value="${'USED'}">USED</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword9">Quantity:</label>
            <input name="quantity"  type="text" class="form-control" id="exampleInputPassword9"
                   placeholder="Quantity">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword9">Price:</label>
            <input name="price" type="text" class="form-control" id="exampleInputPassword9"
                   placeholder="Price">
        </div>
        <div class="form-group col-12">
            <label>File upload:</label>
            <div class="input-group">
                <div class="custom-file">
                    <input name="image" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <label for="exampleTextarea1">Description</label>
            <textarea name="description" class="form-control" id="exampleTextarea1" rows="6" spellcheck="false"></textarea>
        </div>
        <button class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-light">Reset</button>
    </form>
</div>
</body>
</html>